@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">*@
        @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>*@
        @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>*@
@*</div>
</div>*@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="padding-left: 125px">
                
                <a class="nav-link active" id="home" aria-current="page" href="/home">Vidly</a>
                <a class="nav-link" href="@Url.Action("Index", "Customers")">Customers</a>
                <a class="nav-link" href="@Url.Action("Index", "Movies")">Movies</a>
           
            </div>
        </div>
    </div>
</nav>

